body{
    margin:0;
    height:100vh;
    background-image: url("imagenes/rio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mensaje{
    display:none;
    text-align:center;
}

button{
    padding:15px 30px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
}